/* ---------- 
GLOBAL CSS
---------- */

@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(http://fonts.googleapis.com/css?family=Cookie);
body {
  background-color: #171614;
}
a {
  text-decoration: none !important;
}
nav a:focus {
  box-shadow: #fff 100px 0px 0px 0px inset;
  color: #63081A;
}
article {
  font-size: 30px;
  color: #fff;
  opacity: 0.99;
  /*background-image: url(./../img/aside_bg.jpg);*/
  background-color: #171614;
  background-position: center;
}
article p {
  font-family: 'Cookie';
  padding: 15px;
  box-shadow: #63081A 0 0px 0px 2px inset;
  color: #fff;
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  -webkit-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -moz-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -ms-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -o-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
}
article p:hover {
  cursor: pointer;
  color: #63081A;
  box-shadow: #fff 0 0px 0px 50px inset;
}

/* ---------- 
SECTION MENU TOP
---------- */

.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  background-image: url(./../img/aside_bg.jpg);
  background-position: center;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  border-bottom: 2px solid #63081A;
  font-family: 'Kaushan Script';
  -webkit-transition: all 800ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -moz-transition: all 800ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -ms-transition: all 800ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -o-transition: all 800ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  transition: all 800ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}
.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.sticky {
  opacity: 0.98;
  top: 0px;
  background-image: url(./../img/aside_bg.jpg);
  background-position: center;
  -webkit-transition: all 500ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -moz-transition: all 500ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -ms-transition: all 500ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -o-transition: all 500ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  transition: all 500ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
}
.logo {
  width: 50px;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
  padding-left: 30px;         
  -webkit-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -moz-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -ms-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -o-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
}
.logo:hover {
  color: #fff;
  transform: scale(1.1);
  -webkit-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -moz-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -ms-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -o-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}
nav {
  float: right;
  width: 60%;
  padding-right: 30px;
  color: #fff;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px;
  -webkit-transition: all 500ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -moz-transition: all 500ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -ms-transition: all 500ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -o-transition: all 500ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  transition: all 500ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
}
nav ul a:hover {
  box-shadow: #fff 100px 0px 0px 0px inset;
  color: #63081A;
  -webkit-transition: all 500ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -moz-transition: all 500ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -ms-transition: all 500ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -o-transition: all 500ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  transition: all 500ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
}
.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -moz-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -ms-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -o-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

/* ---------- 
SECTION HOME
---------- */

  /* ----- 
  LOGO HOME
  ----- */
#home > article:nth-child(1) {
  background-color: transparent;
}
.logo-home {
  z-index: 9999;
  background: #171614;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  font-family: 'Cookie';
  border-radius: 100%;
  width: 400px;
  margin: 0 auto;
  box-shadow: #63081A 0 0px 0px 5px inset;
}
.card-content h1 {
  font-family: 'Cookie';
  font-size: 100px;
  margin: 0 auto;
}
.card {
  pointer-events: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  padding: 30px;
  background: transparent;
  border-radius: 5px;
  width: 400px;
  height: 200px;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}
.card:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 10px;
  border-radius: 50%;
  left: 0;
  bottom: -50px;
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);
}
.card .card-content {
  margin: auto;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.card h1 {
  -webkit-transform: translateZ(100px);
  transform: translateZ(100px);
}
.card p {
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
  display: block;
}
.card p.related {
  -webkit-transform: translateZ(80px);
  transform: translateZ(80px);
  font-style: italic;
}
.card a {
  color: #fff;
  pointer-events: auto;
}
@media only screen and (max-width: 450px) {
  .logo-home {
    transform: scale(0.5);
    -webkit-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
    -moz-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
    -ms-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
    -o-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
    transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  }
}
@media only screen and (max-width: 400px) {
  .logo-home {
    width: 150px;
    height: 150px;
  }
  .logo-home h1 {
    font-size: 15px;
  }
}

  /* ----- 
  CANVAS BUBBLES
  ----- */

#demo-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#home { 
  background: url(./../img/Beer-2.jpg) 50% 0 no-repeat fixed; 
  min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
}
 
#home article { 
  height: auto; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
  background-image: none;
}

/* ---------- 
SECTION CONCEPT
---------- */

#about { 
  background: url(./../img/Bordeaux-2BW.jpg) 50% 0 no-repeat fixed; 
  min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#about article { 
  height: auto; 
  position: absolute; 
  text-align: center; 
  top: 0; 
  width: 100%; 
}
.clear-bottom {
  margin-bottom: 30px;
}

/* ---------- 
SECTION CONTACT
---------- */

#contact { 
  background: url(./../img/Bordeaux-1BW.jpg) 50% 0 no-repeat fixed; 
  min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#contact p {
  margin-bottom: 30px;
}
#contact article { 
  height: auto; 
  position: absolute; 
  text-align: center; 
  top: 0; 
  width: 100%; 
}
.contact-form {
  margin-top: 30px;
}
.contact-form input,
.contact-form textarea {
  width: 50%;
  margin-bottom: 15px;
  border:none;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  padding: 15px;
  padding-right: 100px;
  /*font-family: 'Kaushan Script';*/
  font-family: 'Cookie';
  box-shadow: #fff 0 0px 0px 1px inset;
  -webkit-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -moz-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -ms-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -o-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
}
.contact-form textarea {
  height: 10em;
}
::-webkit-input-placeholder { color:#fff; }
::-moz-placeholder { color:#fff; }
:-ms-input-placeholder { color:#fff; }
input:-moz-placeholder { color:#fff; }
.contact-form input[type="submit"] {
  padding: 15px;
  margin-bottom: 30px;
  font-size: 20px;
}
.contact-form input:focus,
.contact-form textarea:focus,
.contact-form input[type="submit"]:hover {
  color: #171614;
  box-shadow: #fff 0 0px 0px 30px inset;
  -webkit-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -moz-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -ms-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -o-transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  transition: all 300ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
}
.contact-form textarea:focus {
  box-shadow: #fff 0 0px 0px 400px inset;
  -webkit-transition: all 600ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -moz-transition: all 600ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -ms-transition: all 600ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  -o-transition: all 600ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
  transition: all 600ms cubic-bezier(0.490, 0.500, 0.150, 1.360);
} 

/* ---------- 
SECTION FOOTER
---------- */

footer {
  font-family: 'Cookie' ;
  text-align: center;
  font-size: 12px;
  line-height: 2;
}
.content {
  display: none;
}

/* ---------- 
SECTION LOADER
---------- */

.spinner {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
.spinner .ball {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

p {
  color: #fff;
  margin-top: 5px;
  font-family: 'Cookie';
  letter-spacing: 3px;
  font-size: 25px;
}

@-webkit-keyframes motion {
  0% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  25% {
    -webkit-transform: translateX(-50px) scale(0.3);
            transform: translateX(-50px) scale(0.3);
  }
  50% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  75% {
    -webkit-transform: translateX(50px) scale(0.3);
            transform: translateX(50px) scale(0.3);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@keyframes motion {
  0% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  25% {
    -webkit-transform: translateX(-50px) scale(0.3);
            transform: translateX(-50px) scale(0.3);
  }
  50% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  75% {
    -webkit-transform: translateX(50px) scale(0.3);
            transform: translateX(50px) scale(0.3);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}
